.footer-area *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer-area{width: 90%;
margin: 0 auto;}
.footer-list li{
   list-style: none;
    font-size: 16px;
    font-weight: 400;
}
.subscribe:hover{background-color: white;
color: #06C167;
border: 2px solid #06C167;}
/* Responsive layout for smaller screens */
@media screen and (max-width:768px) {
    .footer{margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding-bottom: 20px;
    }
   .footer-desc{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 30px;

   }
   .foodies-desc{font-size: 16px; font-weight: 400;
padding-left: 35px;
padding-right: 35px;
}
.social-icon{display: flex;
justify-content: center;
cursor: pointer;
align-items: center;
gap: 20px;
font-size: 20.38px;
}
.footer-title{font-size: 24px;
font-weight: 500;}
.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.email{
    background-color: #F0F1EC;
 width: 316px;
    height: 54px;
    display: flex;
    align-items: center;
    border: none;
border: none;
outline: none;
margin-bottom: 10px;
}
.join-now{display: flex;
     flex-direction: column;
}
.email::placeholder{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.subscribe{
    background-color: #06C167;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    border: none;

}
.footer-bottom-text{margin-top: 54px;
     font-size: 16px;
      font-weight: 400;
       text-align: center;
}
}
/* Responsive layout for larger screens */
@media screen and (min-width:768px) {
      .footer{margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    }
    .footer-title{font-size: 24px;
font-weight: 500;}
   .footer-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

   }
.social-icon{display: flex;
align-items: center;
gap: 20px;
font-size: 20.38px;
}
 .footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
}
.email{
    background-color: #F0F1EC;
 width: 205px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: none;
border: none;
outline: none;
}
.join-now{display: flex; gap: 18px;}
.email::placeholder{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.subscribe{
    background-color: #06C167;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 118px;
    height: 50px;
    display: flex;
    align-items: center;
    border: none;
}
.footer-bottom-text{margin-top: 90px;
    font-size: 16px;
    font-weight: 400;
     text-align: center;
}
}
