.veggie-intro-area *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.veggie-intro{
    width: 100%;
    height: 459px;
    background-image: url('../images/Rectangle\ 8.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.veggie-intro a{
    background-color: #06C167;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    width: 293px;
height: 79px;
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}
.veggie-intro a:hover{background-color: white;
color: #06C167;
border: 2px solid #06C167;}
/* Responsive layout for smaller screens */
@media screen and (max-width:768px) {
 .veggie-intro-area{margin-top: 60px;} 
 .veggie-intro-title{color: white;
font-size: 35px;
font-weight: 500;
padding-left: 30px;
padding-right: 30px;
}  
}
/* Responsive layout for larger screens */
@media screen and (min-width:768px) {
 .veggie-intro-area{margin-top: 170px;}
 .veggie-intro{width: 90%;
margin: 0 auto;} 
 .veggie-intro-title{color: white;
font-size: 60px;
font-weight: 500;
padding-left: 230px;
padding-right: 230px;
}   
.veggie-intro a{
    width: 210px;
    height: 79px;
}    
}