*{font-family: "Inter", sans-serif;}
.btn:hover{background-color: white;
color: #06C167;
border: 2px solid #06C167;}
/* Responsive layout for smaller screens */
@media screen and (max-width:768px) {
    .section-heading{text-align: center;
    margin-top: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.section-title{
    padding-top: 10px!important;
    font-size: 35px;
font-weight: 500;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%;
    height: 79px;
    background-color: #06C167;
color: white;
text-decoration: none;
font-size: 16px ;
font-weight: 400 ;
padding: 16px 8px;
margin-bottom: 40px;
}
}
/* Responsive layout for small device */
@media screen and (min-width:768px) {
   .section-heading{
    margin-top: 20px !important;
}
.section-title{
    padding-top: 25px!important;
    font-size:60px;
font-weight: 500;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 68px;
    background-color: #06C167;
color: white;
text-decoration: none;
font-size: 16px ;
font-weight: 400 ;
padding: 16px 8px;
}
}
